{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block main %}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid distinctio, dolorum eligendi, ipsam iste
    iure labore omnis possimus, quis sint tenetur vero voluptas! Ad impedit ipsam iusto magnam veniam!</p>

<p>Dolorum exercitationem nemo non nulla perspiciatis quas! Aperiam beatae, corporis dolorem doloribus et, excepturi
    ipsum molestiae nam pariatur perspiciatis quidem repudiandae sint suscipit. Aperiam ea enim nesciunt saepe. Eaque,
    impedit.</p>

<p>Consectetur corporis deleniti, eos ex id libero molestiae necessitatibus pariatur, qui rem totam velit? Aliquid eum
    fugit in nobis nostrum nulla quo ratione saepe sint vitae! Aliquam consequatur quam ratione.</p>
{% endblock %}