{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block main %}
<h1>Contactez-nous</h1>
<ul>
    <li>Mail: <a href="mailto:thomas.gros@aiconoa.com">thomas.gros@aiconoa.com</a></li>
    <li>Website: <a href="http://www.aiconoa.com">aiconoa</a></li>
</ul>
{% endblock %}